.mapboxgl-popup-content {
  min-width: 200px;
}
/*Map styles*/


#map-container {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
  background-color: #f2f2f2;
  position: relative;
}

.reset-button {
  display: block;
  position: absolute;
  border-color: black;
  background-color: lightgray;
  color: black;
  bottom: 90px;
  z-index: 3;
  right: 15px;
  padding: 10px 10px;
  border-radius: 10px;

  cursor: pointer;
}

.sidebar {
  position: absolute;
  bottom: 50px;
  right: 15px;
  padding: 4px 10px;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  font-family: monospace;
  z-index: 3;
  display: flex;
}

.sidebar-table {
  flex: 5; /* Table takes two parts of the available space */
  margin-left: 20px; /* Add spacing between buttons and table */
  overflow-x: auto;
}

.sidebar-bottom {
  /* position: absolute; */
  bottom: 50px;
  right: 15px;
  padding: 4px 10px;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  font-family: monospace;
  z-index: 3;
  display: flex;
}

.sidebar-buttons {
  flex: 1; /* Buttons take one part of the available space */
  align-items: left;
  gap: 10px; /* Add spacing between buttons */
}

.sidebar-buttons button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.sidebar-buttons button:hover {
  background-color: #777;
}

.panel-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */ /* Center the items horizontally */
  gap: 20px; /* Optional: Adjust the space between the panels */
  padding: 20px;
  position: absolute; /* Positioning context for absolute elements if needed */
}

.sidebar-top h3 {
  text-align: center;
}

.sidebar-top p {
  text-align: left;
}

.sidebar-top button:hover {
  background-color: #0056b3;
}

.sidebar-bottom h3 {
  margin: 0 0 10px;
  font-size: 20px;
}

.sidebar-bottom .close-button {
  background-color: #007bff;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-bottom .close-button:hover {
  background-color: #0056b3;
}

.sidebar-bottom table {
  width: 100%; /* Make the table fit the container width */
  border-collapse: collapse;
  overflow-x: scroll;
  border-radius: 4px; /* Match the border radius of the panel */
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sidebar-bottom .close-button {
  z-index: 2; /* Ensure the button stays on top of the table */
}

.sidebar-bottom th,
.sidebar-bottom td {
  border: 1px solid #ddd; /* Light border for cells */
  padding: 8px; /* Padding for better readability */
  color: #fff; /* Match text color with sidebar theme */
  text-align: left;
}

.sidebar-bottom th {
  background-color: rgba(255, 255, 255, 0.2); /* Distinct background for header */
  font-weight: bold;
}

.sidebar-bottom thead {
  display: table; /* Keep the header fixed */
  width: 100%;
}

.sidebar-bottom tbody tr {
  display: table; /* Make rows behave like table rows */
  width: 100%;
}

.sidebar-bottom td {
  word-wrap: break-word; /* Ensure text wraps inside cells */
}

.zoom-in-button {
  position: absolute;
  bottom: 140px;
  z-index: 1;
  right: 15px;
  padding: 4px 10px;
  border-radius: 15px;
  cursor: pointer;
}

.zoom-out-button {
  position: absolute;
  bottom: 110px;
  z-index: 1;
  right: 15px;
  padding: 4px 10px;
  border-radius: 15px;
  cursor: pointer;
}
