.mapboxgl-popup-content {
  min-width: 200px;
}
/*Map styles*/

#map-container {
  height: 100%;
  width: 50%;

  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: lightgrey;
  color: black;
}

.sidebar {
  position: absolute;
  bottom: 50px;
  z-index: 1;
  right: 15px;
  padding: 4px 10px;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 3;
}

.sidebar-table {
  flex: 5; /* Table takes two parts of the available space */
  margin-left: 20px; /* Add spacing between buttons and table */
  overflow-x: auto;
}

.sidebar-bottom {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  height: 40%;
  width: 1000px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 75%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: 20px;
  display: flex;
}

.sidebar-buttons {
  flex: 1; /* Buttons take one part of the available space */
  align-items: left;
  gap: 10px; /* Add spacing between buttons */
}

.sidebar-buttons button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.sidebar-buttons button:hover {
  background-color: #777;
}

.sidebar-top {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  height: 30%;
  width: 300px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 30%;
  align-items: center;
  left: 15%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: 20px;
}

.panel-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */ /* Center the items horizontally */
  gap: 20px; /* Optional: Adjust the space between the panels */
  padding: 20px;
  position: relative; /* Positioning context for absolute elements if needed */
}

.sidebar-top h3 {
  text-align: center;
  font-size: 18px;
}

.sidebar-top p {
  text-align: left;
}

.sidebar-top button:hover {
  background-color: #0056b3;
}

.sidebar-bottom h3 {
  margin: 0 0 10px;
  font-size: 20px;
}

.sidebar-bottom .close-button {
  background-color: #007bff;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-bottom .close-button:hover {
  background-color: #0056b3;
}

.sidebar-bottom table {
  width: 100%; /* Make the table fit the container width */
  border-collapse: collapse;
  overflow-x: scroll;
  border-radius: 4px; /* Match the border radius of the panel */
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sidebar-bottom .close-button {
  z-index: 2; /* Ensure the button stays on top of the table */
}

.sidebar-bottom th,
.sidebar-bottom td {
  border: 1px solid #ddd; /* Light border for cells */
  padding: 8px; /* Padding for better readability */
  color: #fff; /* Match text color with sidebar theme */
  text-align: left;
}

.sidebar-bottom th {
  background-color: rgba(255, 255, 255, 0.2); /* Distinct background for header */
  font-weight: bold;
}

.sidebar-bottom thead {
  display: table; /* Keep the header fixed */
  width: 100%;
}

.sidebar-bottom tbody tr {
  display: table; /* Make rows behave like table rows */
  width: 100%;
}

.sidebar-bottom td {
  word-wrap: break-word; /* Ensure text wraps inside cells */
}

.reset-button {
  display: block;
  position: absolute;
  bottom: 90px;
  z-index: 1;
  right: 15px;
  padding: 10px 10px;
  border-radius: 15px;
  cursor: pointer;
}

.zoom-in-button {
  position: absolute;
  bottom: 140px;
  z-index: 1;
  right: 15px;
  padding: 4px 10px;
  border-radius: 15px;
  cursor: pointer;
}

.zoom-out-button {
  position: absolute;
  bottom: 110px;
  z-index: 1;
  right: 15px;
  padding: 4px 10px;
  border-radius: 15px;
  cursor: pointer;
}

/* popup-panel {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.popup-panel.active {
  display: block;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 320px;
  background-color: white;
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  color: grey;
} */
