.Footer-container {
  /* padding: var(--s) var(--m); */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  background-color: var(--primary);
  z-index: 3;
  font-family: "Jersey 15", sans-serif;
}

.Footer-text {
  color: var(--white);
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 5px;
}
